.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.weekcontainer{
  margin:3%;
  height: 150px;
  width: 94%;
  background-color: transparent;
  display: block;
}
.weekcontainerday{
  margin:3%;
  height: 60px;
  width: 94%;
  background-color: transparent;
  display: block;
}
.weekcontainer1 {
  display: inline-block;
  border-radius: 6px;
  margin: 1px;
  width: 14%;
  height: 100%;
  background-color: #c1c1c1;
  text-align: center;
  line-height: 120px;
}
.weekcontainer2 {
  display: inline-block;
  border-radius: 6px;
  margin: 1px;
  width: 14%;
  height: 100%;
  background-color: #969696;
  text-align: center;
  line-height: 120px;
}
.weekcontainerday1 {
  display: inline-block;
  border-radius: 6px;
  margin: 1px;
  width: 14%;
  height: 100%;
  background-color: #c1c1c1;
  text-align: center;
  line-height: 60px;
}
.weekcontainerday2 {
  display: inline-block;
  border-radius: 6px;
  margin: 1px;
  width: 14%;
  height: 100%;
  background-color: #969696;
  text-align: center;
  line-height: 60px;
}

.Weatherapp{
  background-image: linear-gradient(#2f1e66, #ae91f1);
  height: 100vh;
}

.card{
  width: 350px;
  height: 500px;
  border-radius: 30px;
  margin-left: 12px;
  margin-top: 25px;
  background-image: linear-gradient(#03057A, #701B86);
}

.block{
  display: block;
}

.city{
  height: 50px;
  line-height: 300%;
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;

}

.mainimage{
  margin-left: 75px;
  height: 200px;
  width: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/cloud.svg");
}

.weather{
  margin-top: 10px;
  font-size: 20px;
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;
}

.degree{
  height: 80px;
  font-size: 50px;
  line-height: 200%;
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;

}

.hottext{
  color: #FF0000;
}

.coldtext{
  color: #00FF9B;
}

.hot{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/hot.svg");
}

.cold{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/cold.svg");
}

.inlineblock{
  display: inline-block;
}

.inlineblockright{
  margin-left: 160px;
  display: inline-block;
}

.temperature{
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 32px;
}

.temperaturemain{
  margin-top: 20px;
}

.headermenu{
  width: 100%;
  height: 60px;
  background-color: #2b244d;
}

.headertitle{
  color: #e0dee8;
  font-size: 17px;
  font-weight: bold;
  padding-top: 22px;
  padding-left: 30px;
  position: absolute;
}

.sliderlight{
  color: #e0dee8;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  padding-right: 15px;
  vertical-align : bottom;
  padding-bottom: 10px;
}

.sliderdark{
  color: #e0dee8;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  padding-right: 20px;
  vertical-align : bottom;
  padding-bottom: 10px;
}

.todaytitle{
  color: #e0dee8;
  font-size: 17px;
  font-weight: bold;
  padding-top: 22px;
  position: absolute;
}

.headerleft{
  position: absolute;
  left:0;
  width: auto;
  display: inline-block;
}


.slidercontainer{
  position: absolute;
  right:0;
  width: auto;
  display: inline-block;
}

.mainslider{
  margin-top: 13px;
  margin-right: 10px;
  position: absolute;
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ed2d7a;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ed2d7a;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.sliderposition{
  width: 80px;
}

.iconmenu{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/iconmenu.png");
}