:root {
  --text-grey: #47598f;
}

.App {
  text-align: center;
}

.test{
  height: 200px;
  width: 200px;
  background-color: red;
}

.test-white{
  background-color: blue;
}


.weatherapp{
  background-image: linear-gradient(#ae91f1, #2f1e66);
  height: 100vh;
}

.weatherapp-white {
  background-image: linear-gradient(#7cffba, #FFFFFF);
}


/* Card Design */
.card{
  width: 300px;
  height: 500px;
  border-radius: 30px;
  margin-left: 60px;
  margin-top: 25px;
  background-color: #701B86;
  background-image: linear-gradient( #03057A, rgba(255,255,255,0));
  transition: background-color 0.8s;
  cursor: pointer;
}

.card:hover{
  background-color: #c16b0a;
}

.add-city-card{
  width: 300px;
  height: 500px;
  border-radius: 30px;
  margin-left: 60px;
  margin-top: 25px;
  background-color: #701B86;
  background-image: linear-gradient( #03057A, rgba(255,255,255,0));
}

.card-white{
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
}

.block{
  display: block;
}

.city{
  height: 30px;
  padding-top: 15px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.city-white{
  color:var(--text-grey)
}

/******************* Detail City Card - BACKGROUND PART ******************/
.detail-city-card{
  margin-left: 17%;
  width: 66%;
  height: 550px;
  border-radius: 30px;
  margin-top: 25px;
  background-color: white;
}

.background-city{
  border-radius: 30px 30px 0px 0px ;
  height: 60%;
  background-size: cover;
  background-position: bottom;
}

.backbutton{
  width: 100px;
  height: 85px;
  border:none;
  background-size: 85%;
  background-image: url("./assets/back.png");
  display: inline;
  position: absolute;
  left: 5%;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#backbutton2{
  background-image: url("./assets/backh.png");
}

#backbutton2:hover{
  opacity: 0;
}

.detail-city-card-white{
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
}

.temperature-detail{
  font-size: 120px;
  padding-left: 30px;
}

.weather-detail{
  font-family: "Lucida Sans Unicode", Times, sans-serif;
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 4px;
  font-size: 16px;
}

.weather-small-detail{
  font-family: "Lucida Sans Unicode", Times, sans-serif;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 2px;
  font-size: 11px;
}

.item6 { grid-area: temp;  }
.item7 { grid-area: weather;  }
.item8 { grid-area: humidity; }
.item9 { grid-area: humidity_value; }
.item10 { grid-area: wind; }
.item11 { grid-area: wind_value; }
.item12 { grid-area: blanck_center; }
.item13 { grid-area: city; }
.item14 { grid-area: country; }
.item15 { grid-area: blanck_right; }

.grid-container2 {
  display: grid;
  grid-template-areas:
          'temp temp blanck_center blanck_center city city'
          'temp temp blanck_center blanck_center city city'
          'temp temp blanck_center blanck_center country country'
          'weather weather blanck_center blanck_center blanck_right blanck_right'
          'humidity wind blanck_center blanck_center blanck_right blanck_right'
          'humidity_value wind_value blanck_center blanck_center blanck_right blanck_right';
  grid-gap: 5px;
}

.grid-container2 > div {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  color: white;
}

/******************* Detail City Card - DETAIL DAYS PART ******************/

.card-weather-detail{
  width: 20%;
  height: 220px;
  border-radius: 30px;
  display: inline-block;
  z-index: 0;
}

.icon-weather-detail{
  height: 55%;
  width: 54%;
  margin-left: 23%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.text-weather-detail{
  color: rgba(75, 75, 73, 0.79);
  font-size: 12px;
  margin-top: 0px!important;
  margin-bottom: 2px!important;
  font-family: "Lucida Sans Unicode", Times, sans-serif;
  letter-spacing: 1px;
}

.text-weather-detail-title{
  color: #2B244D;
  font-size: 14px;
  padding-top: 6px;
  margin-bottom: 3px!important;
  font-family: "Lucida Sans Unicode", Times, sans-serif;
  letter-spacing: 1px;
}

.delete-button{
  width: 50px;
  height: 50px;
  /*background-color: #FF0000;*/
  z-index:99;
  border:none;
  background-size: 85%;
  background-image: url("./assets/deletecardh.png");
  display: inline;
  position: absolute;
  right: 5%;
  top:6%;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

#delete-button2{
  background-image: url("./assets/deletecard.png");
}

#delete-button2:hover{
  opacity: 0;
}













/* Weather Icons Class */
.mainimage{
  margin-left: 50px;
  height: 200px;
  width: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  /*background-image: url("./assets/weather/violet/clouds.svg");*/
}

.redwtf{
  height: 200px;
  width: 200px;
  background-color: red;
}

.addicon{
  margin-left: 73px;
  background-size: 80%;
  background-image: url("./assets/add.svg");
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.addicon:hover{
  background-image: url("./assets/addh.svg");
}

.addicon:active{
  background-image: url("./assets/addc.svg");
}

.cityicon{

  background-image: url("./assets/city.png");
}

.inputcity{
  margin-top: 10px;
  margin-bottom: 35px;
  border-radius: 18px;
  width: 70%;
  height: 30px;
  border-color: transparent;
  text-align: center;
}

.weather{
  margin-top: 10px;
  font-size: 20px;
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;
}

.weather-white{
  color:var(--text-grey);
}

.degree{
  transition: .4s;
  height: 80px;
  font-size: 50px;
  line-height: 200%;
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;
}

.degree-white{
  color:var(--text-grey)
}

.hottext{
  color: #FF0000;
}

.coldtext{
  color: #00FF9B;
}

.temp-icon{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hot{
  background-image: url("./assets/hot.svg");
}

.cold{
  background-image: url("./assets/cold.svg");
}

.inlineblock{
  display: inline-block;
}

.block{
  display: block;
}

.no-margin{
  margin:0 !important;
  padding: 0 !important;
}

.no-bottom-margin{
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}

.no-top-margin{
  margin-top: 0!important;
  padding-top: 0!important;
}

span{
  margin: 0;
  padding: 0;
  /*color: white;*/
}

.inline{
  display: inline;
}

.inlineblockright{
  margin-left: 160px;
  display: inline-block;
}

.temperature{
  transition: .4s;
  color: white;
  font-family: Quicksand Tahoma, Geneva, sans-serif;
  font-weight: lighter;
  font-size: 32px;
}

.temperature-white{
  transition: .4s;
  color:var(--text-grey)
}

.temperaturemain{
  margin-top: 20px;
}

.headermenu{
  transition: .4s;
  width: 100%;
  height: 60px;
  background-color: #2b244d;
}

.headermenu-white{
  transition: .4s;
  background-color: white;
}

.headertitle{
  color: #e0dee8;
  font-size: 17px;
  font-weight: bold;
  padding-top: 22px;
  padding-left: 30px;
  position: absolute;
}

.headertitle-white{

  color: var(--text-grey);
}

.slider-menu{
  color: #e0dee8;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  padding-right: 15px;
  vertical-align : bottom;
  padding-bottom: 4px;
}

.slider-menu-white{
  color: var(--text-grey);
}

.todaytitle{
  color: #A185E2;
  font-size: 17px;
  padding-top: 16px;
  position: absolute;
  font-family: "Lucida Sans Unicode", Times, sans-serif;
  letter-spacing: 1px;
}

.todaytitle-white {
  color:var(--text-grey)
}

.headerleft{
  position: absolute;
  left:0;
  width: auto;
  display: inline-block;
}


.slidercontainer{
  position: absolute;
  right:0;
  width: auto;
  display: inline-block;
}

.mainslider{
  margin-top: 25px;
  margin-right: 10px;
  position: absolute;
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  /*width: 60px;*/
  /*height: 34px;*/
  width: 50px;
  height: 14px;

}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #747474;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -5px;
  top: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ed2d7a;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ed2d7a;
}
input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.sliderposition{
  width: 80px;
}

.iconmenu{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/iconmenu.png");
}


.top10{
  position: absolute;
  top: 65px;
  left: 0px;
  z-index: 99;
}

.margin-left50{
  margin-left: 330px;
}


/* Overwriting PREV / NEXT Buttons Alice Caroussel Class */
.alice-carousel__next-btn, .alice-carousel__next-btn-wrapper {
  text-align: left;
}

.alice-carousel__prev-btn-item > span, .alice-carousel__next-btn-item > span{
  position: relative;
  color: transparent;
}

.alice-carousel__prev-btn-item > span:before{
  color: #ED2D7A;
  content: "◄";
  font-size: 35px;
}

.alice-carousel__next-btn-item > span:before{
  color: #ED2D7A;
  content: "►";
  font-size: 35px;
}

.whitetext{
  color: white;
}
